/** {
	cursor: url("../img/cursor.png"), pointer;
}*/

body {
	background-color: #f5f5f5;
	/*background-color: white;*/
	margin: 0;
}

@font-face {
  font-family: "Grotesque";
  src: url(../fonts/basis-grotesque-regular.ttf) format("truetype");
}

#root {
	stroke: black;
	stroke-width: 2;
	/*fill: #f5f5f5;*/
	/*opacity: 0.7;*/
	/*animation: shrink-node 0.2s ease-in-out forwards;
	-webkit-animation: shrink-node 0.2s ease-in-out forwards;
	-moz-animation: shrink-node 0.2s ease-in-out forwards;*/
}

#root:hover {
	/*animation: grow-node 0.2s ease-in-out forwards;
	-webkit-animation: grow-node 0.2s ease-in-out forwards;
	-moz-animation: grow-node 0.2s ease-in-out forwards;*/
	/*fill: white;*/
	/*cursor: none;*/
	/*opacity: 1;*/
}

.node {
	stroke: black;
	stroke-width: 2;
	/*opacity: .7;*/
}

.node.created {
	/*animation: shrink-node 0.2s ease-in-out forwards;
	-webkit-animation: shrink-node 0.2s ease-in-out forwards;
	-moz-animation: shrink-node 0.2s ease-in-out forwards;*/
}

.node.created:hover {
	/*opacity: 1;*/
	/*cursor: none;*/
	/*animation: grow-node 0.2s ease-in-out forwards;
	-webkit-animation: grow-node 0.2s ease-in-out forwards;
	-moz-animation: grow-node 0.2s ease-in-out forwards;*/
}

.edge {
	stroke: black;
	stroke-width: 2;
}

.expanded {
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: grow-edge 1s ease-in-out forwards;
	-webkit-animation: grow-edge 1s ease-in-out forwards;
	-moz-animation: grow-edge 1s ease-in-out forwards;
}

.expanded-node {
	stroke: black;
	stroke-width: 2;
	animation: expand-node 400ms ease-in-out forwards;
	-webkit-animation: expand-node 400ms ease-in-out forwards;
}

.unexpanded-node {
	stroke: black;
	stroke-width: 2;
	animation: unexpand-node 400ms ease-in-out forwards;
	-webkit-animation: unexpand-node 400ms ease-in-out forwards;
}

.about {}
.professional {}
.contact {}
.fun {}
.moist {}

.leaf{} /* checks if node is leaf */

.text{
	text-anchor: middle;
	alignment-baseline: middle;
	font-size: 20px;
	font-weight: 200;
	font-family: 'Grotesque', sans-serif;
}

@keyframes expand-node {
	to {
		r: 1000px;
	};
}

@-webkit-keyframes expand-node {
	to {
		r: 1000px;
	};
}

@keyframes unexpand-node {
	from {
		r: 1000px;
	} 
	to {
		r: 60px; /* CHANGE NODE SIZE HERE */
	};
}

@-webkit-keyframes unexpand-node {
	from {
		r: 1000px;
	}
	to {
		r: 60px; /* CHANGE NODE SIZE HERE */
	};
}

@keyframes grow-edge {
	to {
		stroke-dashoffset: 0;
	}
}

@-webkit-keyframes grow-edge {
	to {
		stroke-dashoffset: 0;
	}
}

@-moz-keyframes grow-edge {
	100% {
		stroke-dashoffset: 0;
	}
}

/*@keyframes grow-node {
	from {
		r: 65px;
	} 
	to {
		r: 70px
	}
}

@-webkit-keyframes grow-node {
	from {
		r: 65px;
	} 
	to {
		r: 70px
	}
}

@-moz-keyframes grow-node {
	0% {
		r: 65px;
	} 
	100% {
		r: 70px
	}
}

@keyframes shrink-node {
	from {
		r: 70px;
	} 
	to {
		r: 65px;
	}
}

@-webkit-keyframes shrink-node {
	from {
		r: 70px;
	} 
	to {
		r: 65px;
	}
}

@-moz-keyframes shrink-node {
	0% {
		r: 70px;
	} 
	100%
	{
		r: 65px;
	}
}*/

.title {
	position: absolute;
	top: 0%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}

.section {
	position: absolute;
	top: 0%;
	margin: 0 10%;
	color: white;
	font-size: 30px;
}

.arrow-circle {
	position: relative;
	top: 30px;
	left: 30px;
	width: 70px;
	height: 70px;
	border-radius: 60px;
	border-style: solid;
	border-width: 2px;
	color: black;
	background-color: #f5f5f5;
	opacity: 0.7;
}

.arrow-circle:hover {
	/*cursor: none;*/
	opacity: 1;
}

.scaled {
	width: 100%;
	height: 100%;
	overflow: hidden;
	color: white;
}
