body {
	margin: 0;
}

#container {
	margin-left: 15%;
	margin-right: 15%;
}

#heading-container {
	height: 300px;
	position: relative;
	
}

.heading-info {
	color: black;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: calc((100% - 400px) / 2);
	text-align: center;
}

#heading-title {
	font-size: 130px;
	font-weight: bold;
	top: 33%;
	margin-bottom: 40px;
	font-family: 'Raleway', serif;
}

#heading-description {
	font-size: large;
	font-weight: normal;
	top: 66%;
	font-family: 'Raleway', sans-serif;
}

.section-divider {
	width: 90%;
	height: 7px;
	margin: 0 auto;
	background-color: yellow;
	border-style: double;
	border-color: #d3d3d3;
}

.sub-divider {
	width: 90%;
	height: 2px;
	margin: 0 auto;
	margin-top: 30px;
	background-color: gray;
}

#content {
	background-color: white;
	margin: 20px 50px;
}

.question {
	text-align: center;
	padding: 20px;
	font-family: 'Raleway';
	font-size: x-large;
}

.check-circle {
	width: 60px;
	height: 60px;
	margin: 10px auto;
	margin-bottom: 15px;
	border-radius: 50%;
	border-style: solid;
	transition: 0.5s;
}

.check-circle:hover {
	background-color: yellow;
}

.info-card {
	margin: 20px;
	width: 250px;
	height: 250px;
	background-color: gray;
	border-radius: 50px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	display: inline-block;
}
